p{
    color: green;
}
li{
list-style-type: square ;
}
.special{
    color: orange;
    font-weight: bold;
}
li em {
    color: crimson;
}
h1+p{
    font-size: 200%;
}
a:hover{
    color: saddlebrown;
    text-decoration: none;
}